.custom-delete-button {
    display: inline-block;
    position: relative;
    background: url("../../../images/close.png") no-repeat;
    width: 20px;
    height: 20px;
    outline: none;
    border: none;
    }

    @media (-webkit-min-device-pixel-ratio: 1.5),
    (min-resolution: 120dpi),
    (min-resolution: 1.5dppx) {
        .custom-delete-button {
            background: url(../../../images/close@2x.png) no-repeat 0 0;
            background-size: 20px 20px;
        }
    }
