.todos-list {
    margin-left: auto;
    }

    .todos-list_item {
        border-top: 1px solid #e3e3e3;
        padding: 12px;
    }
    
        .todos-list_item:after {
            content: '';
            clear: both;
            display: table;
        }

        .todos-list_item_ready-marker {
            float: left;
            margin-right: 16px;
        }

        .todos-list_item_text-w {
            overflow: hidden;
            margin-top: 5px;
        }

            .todos-list_item_text {
                font-family: 'Helvetica Neue', Arial, sans-serif;
                font-size: 24px;
                color: #666;
                height: fit-content;
                font-weight: 100;
                width: 100%;
                }

            .crossed_out {
                text-decoration: line-through;
                color: #cbcbcb
            }

        .todos-list_item:hover {
            background: #fafafa;
            }

        .todos-list_item_remove {
            float: right;
            margin-left: 16px;
            margin-top: 9px;
            visibility: hidden;
            }

            .todos-list_item:hover .todos-list_item_remove {
                display: block;
                visibility: visible;
                }
